/*****************************************
Full Selection
*****************************************/

body {
  margin: 10px;
  padding: 0;
}

/* This was a css reset in order to get rid of some padding, or any other styler, so we can more acuratly render our site. */
ul {
  padding: 0;
}

img{
  max-width: 100%;
}

/* type box-sizing, hit tab, and get browser wide options */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*****************************************
Top Main Selections
*****************************************/

.octodex {
  width: 100%;
}

/* When adding a kind of underline bellow an image, use the shorthand bellow */
.octocat {
  float: left;
  width: 360px;
  margin: 10px;
  list-style: none;
  border-bottom: 2px solid #ddd;
}


/* The bellow syntax is used to select the a element of the .octocat selector. using > selects the attribute nested right bellow the selected. > is considered a direct selector. */

/* I added padding here in order to seperate the child from the parent. Adding some space between the img and it's border. Following the css box guide in chrome inspect is a great way to remember the order. */

.octocat > a {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: #c1cdcd;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 10px 5px;
}



/*****************************************
Image Footers
*****************************************/


.image-footer::before {
  width: 5px;
  height: 5px;
  border-style: solid;
  border-width: 100px 100px 0 100px;
  border-color: #bec5cc transparent transparent transparent;
}

.image-footer {
  font-family: arial;
  font-weight: bold;
  font-size: 0.8em;
}

.image-number {
  float:left;
  margin-top: 4.2px;
  padding: 0;
  color: #838b8b;
}

/* using :: allows you to add content infront of or behind the selected item. */
.image-number::before {
  content: "#";
}


.image-caption {
  float: right;
  margin-left: 15px;
  margin-right: 0;
  padding-left: 0;
}

.image-caption span {
  color: #838b8b;
}

.image-caption > span {
  display: inline-block;
  margin-top: 4.2px;
}

.image-caption a {
  text-decoration: none;
  color: #000;
}

.image-caption > a {
  display: inline-block;
  margin-top: 4.2px;
}

.authors {
  padding-left: 5px;
  margin-bottom: 0;
  list-style: none;
  float: right;
}

.authors img {
  display: inline-block;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*position: relative;*/
  width: 25px;
}
